#white{
background-color: white;
background-image:url(ashok_chakra.png);
background-repeat:no-repeat;
background-position: center;
background-size: contain;
background-attachment: scroll;
background-image: url(india_map.png);
border-style: solid;
border-width: 10px 14px;
font-weight: bold;
}